<% if success %>
  <div class="message success"><%= success %></div>
<% end %>
<% if notice %>
  <div class="message notice"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="message alert"><%= alert %></div>
<% end %>
<% if error %>
  <div class="message error"><%= error %></div>
<% end %>
